In [7]:
import pandas as pd

## Yangi jadval ko'rib chiqamiz.

In [8]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

   Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0          65             86             67               78            2021
1          64             85             71               80            2019
2          76             77             77               84            2021
3          80             76             75               75            2021
4          63             91             62               90            2019

## Jadval haqida ma'lumot olamiz.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Math_Score       30 non-null     int64
 1   Reading_Score    30 non-null     int64
 2   Writing_Score    30 non-null     int64
 3   Placement_Score  30 non-null     int64
 4   Club_Join_Date   30 non-null     int64
dtypes: int64(5)
memory usage: 1.3 KB

## Max, min va std larni ko'rib chiqamiz.

In [10]:
df.describe()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date
count,30.000000,30.000000,30.000000,30.000000,30.000000
mean,70.066667,83.800000,68.300000,84.400000,2019.833333
std,5.464199,5.554743,6.923971,7.194826,0.949894
min,62.000000,75.000000,60.000000,75.000000,2018.000000
25%,64.250000,80.250000,62.000000,79.000000,2019.000000
50%,70.000000,83.000000,67.000000,83.500000,2020.000000
75%,74.750000,87.500000,74.500000,89.000000,2021.000000
max,80.000000,95.000000,80.000000,100.000000,2021.000000

## Value_count orqali chastotalarini ko'rib chiqamiz

In [11]:
df["Math_Score"].value_counts()

Math_Score
64    4
75    4
69    3
73    2
72    2
63    2
80    2
62    2
74    2
68    2
76    1
65    1
77    1
66    1
71    1
Name: count, dtype: int64

In [12]:
df["Reading_Score"].value_counts()

Reading_Score
82    4
83    4
85    3
90    2
95    2
80    2
75    2
77    2
86    1
78    1
91    1
76    1
89    1
84    1
81    1
92    1
88    1
Name: count, dtype: int64

## Dublikatlarni o'chiramiz.

In [13]:
df.drop_duplicates(subset = 'Math_Score')

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0           65             86             67               78            2021
1           64             85             71               80            2019
2           76             77             77               84            2021
3           80             76             75               75            2021
4           63             91             62               90            2019
5           73             95             62               79            2020
6           72             82             76               79            2020
7           77             82             62               87            2021
8           74             90             60              100            2019
9           68             85             72               89            2019
11          75             83             76               83            2019
12          62             89             61               76            2019
13          69             80             73               87            2021
22          66             88             62               84            2018
25          71             95             60               95            2020

In [14]:
df.drop_duplicates()

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0           65             86             67               78            2021
1           64             85             71               80            2019
2           76             77             77               84            2021
3           80             76             75               75            2021
4           63             91             62               90            2019
5           73             95             62               79            2020
6           72             82             76               79            2020
7           77             82             62               87            2021
8           74             90             60              100            2019
9           68             85             72               89            2019
10          64             78             80               84            2019
11          75             83             76               83            2019
12          62             89             61               76            2019
13          69             80             73               87            2021
14          74             84             80               79            2019
15          69             85             66               78            2019
16          64             75             68               75            2021
17          75             81             76               95            2019
18          73             80             73               75            2020
19          75             92             62               97            2020
20          69             82             60               93            2021
21          68             90             66               83            2019
22          66             88             62               84            2018
23          75             75             80               89            2021
24          80             83             64               80            2020
25          71             95             60               95            2020
26          63             83             70               81            2019
27          62             77             67               78            2021
28          64             83             60               84            2021
29          72             82             61               95            2019

In [15]:
df.drop_duplicates(subset = ['Math_Score', 'Placement_Score'])

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0           65             86             67               78            2021
1           64             85             71               80            2019
2           76             77             77               84            2021
3           80             76             75               75            2021
4           63             91             62               90            2019
5           73             95             62               79            2020
6           72             82             76               79            2020
7           77             82             62               87            2021
8           74             90             60              100            2019
9           68             85             72               89            2019
10          64             78             80               84            2019
11          75             83             76               83            2019
12          62             89             61               76            2019
13          69             80             73               87            2021
14          74             84             80               79            2019
15          69             85             66               78            2019
16          64             75             68               75            2021
17          75             81             76               95            2019
18          73             80             73               75            2020
19          75             92             62               97            2020
20          69             82             60               93            2021
21          68             90             66               83            2019
22          66             88             62               84            2018
23          75             75             80               89            2021
24          80             83             64               80            2020
25          71             95             60               95            2020
26          63             83             70               81            2019
27          62             77             67               78            2021
29          72             82             61               95            2019

In [16]:
df.drop_duplicates(subset = ['Math_Score', 'Writing_Score'])

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0           65             86             67               78            2021
1           64             85             71               80            2019
2           76             77             77               84            2021
3           80             76             75               75            2021
4           63             91             62               90            2019
5           73             95             62               79            2020
6           72             82             76               79            2020
7           77             82             62               87            2021
8           74             90             60              100            2019
9           68             85             72               89            2019
10          64             78             80               84            2019
11          75             83             76               83            2019
12          62             89             61               76            2019
13          69             80             73               87            2021
14          74             84             80               79            2019
15          69             85             66               78            2019
16          64             75             68               75            2021
18          73             80             73               75            2020
19          75             92             62               97            2020
20          69             82             60               93            2021
21          68             90             66               83            2019
22          66             88             62               84            2018
23          75             75             80               89            2021
24          80             83             64               80            2020
25          71             95             60               95            2020
26          63             83             70               81            2019
27          62             77             67               78            2021
28          64             83             60               84            2021
29          72             82             61               95            2019

In [17]:
df.drop_duplicates(subset = ['Reading_Score', 'Writing_Score'])

    Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
0           65             86             67               78            2021
1           64             85             71               80            2019
2           76             77             77               84            2021
3           80             76             75               75            2021
4           63             91             62               90            2019
5           73             95             62               79            2020
6           72             82             76               79            2020
7           77             82             62               87            2021
8           74             90             60              100            2019
9           68             85             72               89            2019
10          64             78             80               84            2019
11          75             83             76               83            2019
12          62             89             61               76            2019
13          69             80             73               87            2021
14          74             84             80               79            2019
15          69             85             66               78            2019
16          64             75             68               75            2021
17          75             81             76               95            2019
19          75             92             62               97            2020
20          69             82             60               93            2021
21          68             90             66               83            2019
22          66             88             62               84            2018
23          75             75             80               89            2021
24          80             83             64               80            2020
25          71             95             60               95            2020
26          63             83             70               81            2019
27          62             77             67               78            2021
28          64             83             60               84            2021
29          72             82             61               95            2019

In [18]:
df.shape

(30, 5)

## Quyida esa guruhlashning har xil holatlarini ko'rib chiqamiz.

In [19]:
df.groupby(by = "Math_Score").value_counts()

Math_Score  Reading_Score  Writing_Score  Placement_Score  Club_Join_Date
62          77             67             78               2021              1
            89             61             76               2019              1
63          83             70             81               2019              1
            91             62             90               2019              1
64          75             68             75               2021              1
            78             80             84               2019              1
            83             60             84               2021              1
            85             71             80               2019              1
65          86             67             78               2021              1
66          88             62             84               2018              1
68          85             72             89               2019              1
            90             66             83               2019              1
69          80             73             87               2021              1
            82             60             93               2021              1
            85             66             78               2019              1
71          95             60             95               2020              1
72          82             61             95               2019              1
                           76             79               2020              1
73          80             73             75               2020              1
            95             62             79               2020              1
74          84             80             79               2019              1
            90             60             100              2019              1
75          75             80             89               2021              1
            81             76             95               2019              1
            83             76             83               2019              1
            92             62             97               2020              1
76          77             77             84               2021              1
77          82             62             87               2021              1
80          76             75             75               2021              1
            83             64             80               2020              1
Name: count, dtype: int64

In [20]:
df.groupby(by = ["Math_Score", "Club_Join_Date"]).value_counts()

Math_Score  Club_Join_Date  Reading_Score  Writing_Score  Placement_Score
62          2019            89             61             76                 1
            2021            77             67             78                 1
63          2019            83             70             81                 1
                            91             62             90                 1
64          2019            78             80             84                 1
                            85             71             80                 1
            2021            75             68             75                 1
                            83             60             84                 1
65          2021            86             67             78                 1
66          2018            88             62             84                 1
68          2019            85             72             89                 1
                            90             66             83                 1
69          2019            85             66             78                 1
            2021            80             73             87                 1
                            82             60             93                 1
71          2020            95             60             95                 1
72          2019            82             61             95                 1
            2020            82             76             79                 1
73          2020            80             73             75                 1
                            95             62             79                 1
74          2019            84             80             79                 1
                            90             60             100                1
75          2019            81             76             95                 1
                            83             76             83                 1
            2020            92             62             97                 1
            2021            75             80             89                 1
76          2021            77             77             84                 1
77          2021            82             62             87                 1
80          2020            83             64             80                 1
            2021            76             75             75                 1
Name: count, dtype: int64

In [21]:
df.groupby(by = "Math_Score")["Writing_Score"].mean()

Math_Score
62    64.000000
63    66.000000
64    69.750000
65    67.000000
66    62.000000
68    69.000000
69    66.333333
71    60.000000
72    68.500000
73    67.500000
74    70.000000
75    73.500000
76    77.000000
77    62.000000
80    69.500000
Name: Writing_Score, dtype: float64

In [22]:
df.groupby(by = "Math_Score")["Writing_Score"].agg([min, max, sum])

C:\Users\HP\AppData\Local\Temp\ipykernel_2808\2089018932.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby(by = "Math_Score")["Writing_Score"].agg([min, max, sum])
C:\Users\HP\AppData\Local\Temp\ipykernel_2808\2089018932.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby(by = "Math_Score")["Writing_Score"].agg([min, max, sum])
C:\Users\HP\AppData\Local\Temp\ipykernel_2808\2089018932.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby(by = "Math_Score")["Writing_Score"].agg([min, max, sum])

            min  max  sum
Math_Score
62           61   67  128
63           62   70  132
64           60   80  279
65           67   67   67
66           62   62   62
68           66   72  138
69           60   73  199
71           60   60   60
72           61   76  137
73           62   73  135
74           60   80  140
75           62   80  294
76           77   77   77
77           62   62   62
80           64   75  139

In [23]:
df.groupby(by = ["Math_Score", "Club_Join_Date"])["Writing_Score"].mean()

Math_Score  Club_Join_Date
62          2019              61.0
            2021              67.0
63          2019              66.0
64          2019              75.5
            2021              64.0
65          2021              67.0
66          2018              62.0
68          2019              69.0
69          2019              66.0
            2021              66.5
71          2020              60.0
72          2019              61.0
            2020              76.0
73          2020              67.5
74          2019              70.0
75          2019              76.0
            2020              62.0
            2021              80.0
76          2021              77.0
77          2021              62.0
80          2020              64.0
            2021              75.0
Name: Writing_Score, dtype: float64